html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: #b6a2a2;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

    table th,
    table td {
        padding: 8px;
        text-align: left;
    }

    table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table tr:hover {
        background-color: #e6e6e6;
    }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
    
}
